/* En este archivo escriban su CSS */
/* Fonts */
/* Importar aquí la font */


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */

header {
    display: flex;
    justify-content: center;
}



nav { display: block;
    background-color: rgb(134, 129, 153);
    padding: auto;

    }


.caja1 { 
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
  }


.imagen-uno {
   
    max-width: 20%;
    height: 30%;
}


h5 { font-size: 30px;
    padding-left: 20%;
    margin-bottom: 10px;
    justify-content: center;

}


#caja2 {
    display: flex;
    align-items: center;
  }




.imagen-dos {
    margin-right: 30px;
    padding-left: 20%;
  }
  


h2 { display: flex;
    box-sizing: border-box; 
    width: 50%;border: solid #16ee45 10px;
    margin: 5;
    padding: 20px;
    font-family:'Courier New', Courier, monospace; 
    font-size:xx-large;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    
}


/* Para quitar los puntos a los items de listas */
ol {flex-basis: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-decoration: none;
    color: inherit;
    list-style: none;
    line-height: 2cap; 
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/


.btn { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    margin: 20px;
    background-color: #f55884;
    pointer-events:visible;


}



div { 
    display: flex; 
    border: 2px solid rgb(98, 179, 216);
    padding: 20px;
}
    
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



article { 
    background-color: rgb(39, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

footer{ display: flex;
    border-style: double;
    height:50px;
    width:100%;
    color: #f70a4e;
    font-size:20px; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font:center;
    position: inherit;
    padding: 20px;
}   



@media (max-width: 500px) {

    html { font-size: 60%
    
    }
    
    
    .imagen-dos {
        max-width: 60%;
        display: flex;
        margin-bottom: 130px;
        margin-left: 100px;
    } 
    
    #caja2 { max-width: 20%; 
     
    }
    
    h2 { font-size: 30px;
    
    }
    
    
    }
    
    

    
    
    



/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
